<form ng-submit="vm.addCenter()">
    <div>
        <label>
            Centers Name
        </label>
        <input ng-model="vm.centerToAdd.centerName" type="text" />

    </div>
    <div>
        <label>
            Street Address
        </label>
        <input ng-model="vm.centerToAdd.centerAddress.StreetAddress" type="text" />

    </div>
    <div>
        <label>
            City
        </label>
        <input ng-model="vm.centerToAdd.centerAddress.City" type="text" />

    </div>
    <div>
        <label>
            State
        </label>
        <input ng-model="vm.centerToAdd.centerAddress.State" type="text" />

    </div>
    <div>
        <label>
            Zip Code
        </label>
        <input ng-model="vm.centerToAdd.centerAddress.ZipCode" type="text" />

    </div>
    <div>
        <label>
            Telephone Number
        </label>
        <input ng-model="vm.centerToAdd.telephoneNumber" type="text" />

    </div>
    <div>
        <label>
            Email Address
        </label>
        <input ng-model="vm.centerToAdd.Email" type="email" />

    </div>
    <div>
        <label>
            Contact Person
        </label>
        <input ng-model="vm.centerToAdd.ContactPerson" type="text" />

    </div>
    <div>
        <label>
            Website
        </label>
        <input ng-model="vm.centerToAdd.Website" type="text" />

    </div>
    <div>
        <label>
            Total Capacity
        </label>
        <input ng-model="vm.centerToAdd.TotalCapacity" type="text" />

    </div>
    <div>
        <label>
            Number of Openings
        </label>
        <input ng-model="vm.centerToAdd.NumberOfOpenings" type="text" />

    </div>
    <div>
        <label>
            Waiting List Size
        </label>
        <input ng-model="vm.centerToAdd.WaitingListSize" type="text" />

    </div>
    <div>
        <label>
            Waitlist has openings?
        </label>
        <input ng-model="vm.centerToAdd.waitingListOpenings" type="radio" name="waitingListOpenings" ng-value="true" />Yes
        <input ng-model="vm.centerToAdd.waitingListOpenings" type="radio" name="waitingListOpenings" ng-value="false" />No

    </div>
    <div>
        <label>
            Business Type
        </label>
        <select ng-model="vm.centerToAdd.centerType">
            <option value="0">Home Based</option>
            <option value="1">Chain</option>
            <option value="2">Stand Alone Center</option>
        </select>

    </div>
    <div>
        <label>
            Religious Affliation
        </label>
        <input ng-model="vm.centerToAdd.ReligiousAffliliation" type="radio" name="religion" ng-value="true" />Yes
        <input ng-model="vm.centerToAdd.ReligiousAffliliation" type="radio" name="religion" ng-value="false" />No

    </div>

    <input type="submit" value="Add New Center"/>


</form>
<select ng-model="vm.selectedType" id="centerDropdown" ng-change="vm.display()">
    <option> </option>
    <option value="0">Home Based</option>
    <option value="1">Chain</option>
    <option value="2">Stand Alone Center</option>
</select>
<hr />
<table border="1">
    <tr>
        <th>Center Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Telephone Number</th>
        <th>Email Address</th>
        <th>Contact Person</th>
        <th>Website</th>
        <th>Total Capacity</th>
        <th>Number of Openings</th>
        <th>Waiting List Size</th>
        <th>Accepting Waitlist</th>
        <th>Business Model</th>
        <th>Faith Based</th>
    </tr>
    <tr ng-repeat="center in vm.centers">
        <td>{{center.centerName}}</td>
        <td>{{center.centerAddress.streetAddress}}</td>
        <td>{{center.centerAddress.city}}</td>
        <td>{{center.centerAddress.state}}</td>
        <td>{{center.centerAddress.zipCode}}</td>
        <td>{{center.telephoneNumber}}</td>
        <td>{{center.email}}</td>
        <td>{{center.contactPerson}}</td>
        <td>{{center.website}}</td>
        <td>{{center.totalCapacity}}</td>
        <td>{{center.numberOfOpenings}}</td>
        <td>{{center.waitingListSize}}</td>
        <td>{{center.waitingListOpenings}}</td>
        <td>{{center.centerType|BizTypes}}</td>
        <td>{{center.religiousAffiliation}}</td>
        <td ng-show="account.getClaim('CanEditDaycare')"><a href="/editCenter/{{center.id}}">Edit</a></td>
        <td ng-show="account.getClaim('CanEditDaycare')"><a href="/deleteCenter/{{center.id}}">Delete</a></td>
    </tr>
</table>
