<h1>Browse Page</h1>

<hr />
<table border="1">
    <tr>
        <th>Center Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Telephone Number</th>
        <th>Email Address</th>
        <th>Contact Person</th>
    </tr>
    <tr ng-repeat="center in vm.centers">
        <td>{{center.centerName}}</td>
        <td>{{center.centerAddress.streetAddress}}</td>
        <td>{{center.centerAddress.city}}</td>
        <td>{{center.centerAddress.state}}</td>
        <td>{{center.centerAddress.zipCode}}</td>
        <td>{{center.telephoneNumber}}</td>
        <td>{{center.email}}</td>
        <td>{{center.contactPerson}}</td>
        <td ng-show="account.getClaim('CanEditDaycare')"><a href="/admin" >Edit</a></td>
        <td ng-show="account.getClaim('CanEditDaycare')"><a href="/deleteCenter/{{center.id}}">Delete</a></td>        
    </tr>
    

</table>
