@{
    Layout = null;
}
    <html xmlns="http://www.w3.org/1999/xhtml" ng-app="DCSiteApp">
    <head>
        <base href="/" />
        <title></title>
    </head>
    <body>
        <h1>This is the main page</h1>

        <a href="/main">Main</a>
        <a href="/browse">Browse Centers</a>
        <a href="/map">Location Search</a>
        <a href="/signIn">Login</a>
        <a href="/admin">Admin</a>
    
        <ng-view></ng-view>

        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/DCSite/app.js"></script>
        <script src="~/DCSite/controller.js"></script>
    </body>
</html>
















