@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="DCSiteApp">
<head>
    <base href="/" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/DCSite/style.css" rel="stylesheet" />
</head>
<body ng-controller="AccountController as account">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h3 class="box1">Child Care Sea<a href="/admin">r</a>ch</h3>
                <a href="/signin" ng-show="!account.isLoggedIn()">Sign In</a>
                <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">logout</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a class="btn btn-default" href="/main">Main</a></li>
                    <li><a class="btn btn-default" href="/browse">Browse Centers</a></li>
                    <li><a class="btn btn-default" href="/map">Map</a></li>
                    <li><a class="btn btn-default" href="/tipsTools">Tips and Tools</a></li>
                    <li><a class="btn btn-default" href="/blog">Blog</a></li>
                </ul>

            </div>
        </div>
    </div>
               
        <ng-view></ng-view>



        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/Scripts/angular-resource.min.js"></script>
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        
    
        <script src="~/Scripts/lodash.min.js"></script>
        <script src="~/Scripts/angular-simple-logger.js"></script> 
        <script src="~/Scripts/angular-google-maps.min.js"></script>
    
    
        <script src="~/DCSite/app.js"></script>
        <script src="~/DCSite/services.js"></script>
        <script src="~/DCSite/accountService.js"></script>
        <script src="~/DCSite/controllers.js"></script>
        <script src="~/DCSite/accountController.js"></script>
        

</body>
</html>