<form name="loginForm" ng-submit="account.login()">
    <div class="row">
        <div class="col-md-3">
            <div class="right">
                <label>First Name</label>
                <input name="firstname" ng-model="account.firstName" />
                <div ng-show="loginForm.username.$touched&& loginForm.username.$error.required">First name is required.</div>
            </div>
            <div class="right">
                <label>Enter your surname</label>
                <input name="lastname" ng-model="account.lastname" />
                <div ng-show="loginForm.lastname.$touched&& loginForm.lastname.$error.required">Last Name is required.</div>
            </div>

            <div class="right">
                <label>Select a Username</label>
                <input name="username" ng-model="account.username" />
                <div ng-show="loginForm.username.$touched&& loginForm.username.$error.required">Username is required.</div>
            </div>
            <div class="right">
                <label>Password</label>
                <input name="password" ng-model="account.password" />
                <div ng-show="loginForm.password.$touched&& loginForm.password.$error.required">Password is required.</div>
            </div>
            <div class="right">
                <label>Verify Password</label>
                <input name="password" ng-model="account.password" />
                <div ng-show="loginForm.password.$touched&& loginForm.password.$error.required">Password is required.</div>
            </div>
            <input class ="right"type="submit" value="Sign In" />
        </div>
        <div class="col-md-offset-3 col-md-5">
            <div class="right">
                <label>Username</label>
                <input name="username" ng-model="account.username" />
                <div ng-show="loginForm.username.$touched&& loginForm.username.$error.required">Username is required.</div>
            </div>
            <div class="right">
                <label>Password</label>
                <input name="password" ng-model="account.password" />
                <div ng-show="loginForm.password.$touched&& loginForm.username.$error.required">Password is required.</div>
            </div>
            <input class="right" type="submit" value="Sign In" />
        </div>
    </div>


</form>